*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  min-height: 100%;
  font-size: clamp(0.875rem, 0.719rem + 0.625vw, 1rem);
  font-family: "Nunito Sans", sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 84rem;
  margin: 0 auto;
}

.tile {
  box-shadow: 0 0.5rem 2rem rgba(17, 21, 23, 0.05);
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 100%);
}

.hidden {
  display: none !important;
}

header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

h1 {
  font-size: clamp(1rem, 0.375rem + 2.5vw, 1.5rem);
  font-weight: 800;
}

.btn-theme {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  padding: 0.375rem 0.75rem;
  border-radius: 0.5em;
  transition: 0.3s ease-out;
}
.btn-theme:hover {
  background-color: rgba(13, 162, 231, 0.1);
}

.page--list.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.toolbar {
  font-size: clamp(0.75rem, 0.594rem + 0.625vw, 0.875rem);
  font-weight: 600;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.dropdown {
  position: relative;
}
.dropdown__content {
  position: absolute;
  top: 3.75rem;
  z-index: 10;
  width: 100%;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  animation: fadeIn 0.3s ease-in-out;
}
.dropdown__content button {
  text-align: left;
  padding: 0.375rem 0.5rem;
  border: none;
  background: none;
  transition: 0.3s ease-out;
}
.dropdown__content button:hover {
  color: hsl(199, 89%, 48%);
}
.dropdown__content .reset {
  font-weight: 800;
  color: hsl(199, 89%, 48%);
}

.dropbtn {
  border: none;
  width: inherit;
  height: 100%;
  padding: 0.875rem 1.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.search {
  max-width: 30rem;
  flex: 1 0 20rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 1.625rem;
  border: 2px solid transparent;
}
.search > * {
  border: none;
  background: none;
}
.search:has(> .search__input:focus) {
  border: 2px solid hsl(199, 89%, 48%);
}
.search__input {
  flex: 1;
  padding: 0.875rem 1rem;
  color: hsl(0, 0%, 52%);
}
.search__input::-moz-placeholder {
  color: rgba(133, 133, 133, 0.75);
}
.search__input::placeholder {
  color: rgba(133, 133, 133, 0.75);
}
.search__input:focus {
  outline: none;
}
.search__btn {
  font-size: 1rem;
  display: grid;
  place-items: center;
}

.error {
  font-size: 1.25rem;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.5rem);
  gap: clamp(1.75rem, -0.821rem + 6.429vw, 4rem);
  justify-content: center;
  position: relative;
}
.countries__card {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  cursor: pointer;
}

.card__img {
  height: 11rem;
  width: 100%;
  border-radius: 0.5em;
  box-shadow: 0 0.5rem 1rem rgba(17, 21, 23, 0.1);
}
.card__textbox {
  padding: 1.625rem 0.625rem 0.625rem;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.card__name {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.bold {
  font-weight: 600;
}

.page--details.container {
  padding: 1.75rem;
}

.btn-back {
  border: none;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 3.5rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  align-items: center;
  gap: 2.75rem;
}
.details__img {
  width: 100%;
  max-width: 35rem;
  height: auto;
}
.details__img .skeleton {
  width: 100%;
  height: 10rem;
}
.details__textbox {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.details__name {
  margin-bottom: 0.25rem;
  grid-column: 1/-1;
}
.details__borders {
  grid-column: 1/-1;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.75rem;
}

.borders__list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.borders__btn {
  padding: 0.25rem 1rem;
  border: none;
  font-weight: 600;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.borders__name {
  white-space: nowrap;
}
.borders__flag {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.skeleton {
  background-color: hsl(0, 0%, 52%);
  opacity: 0.1;
  border-radius: 0.5rem;
}
.skeleton__img {
  box-shadow: none;
  animation: skeletonScreen 2s infinite 0.5s;
}
.skeleton.details__img {
  height: 20rem;
}

h2.skeleton {
  height: 27px;
  width: 50%;
  animation: skeletonScreen 2s infinite 0.75s;
}

p.skeleton {
  height: 20px;
  width: 60%;
  margin-bottom: 0.25rem;
  animation: skeletonScreen 2s infinite 1s;
}

body.dark {
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 26%, 17%);
}
body.dark .tile {
  background-color: hsl(209, 23%, 22%);
}
body.dark .search__input {
  color: hsl(0, 0%, 100%);
}
body.dark .search__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.75);
}
body.dark .search__input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}
body.dark .loading__img,
body.dark .loading__text {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 40rem) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  header > .container {
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
  }
  main > .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .topbar {
    margin-bottom: 2.875rem;
  }
  .dropdown__btn {
    padding: 1rem 1.25rem;
  }
  .search__bar {
    padding: 0 1.875rem;
    gap: 0.75rem;
  }
  .country {
    font-size: 0.875rem;
  }
}
@media (min-width: 82rem) {
  .countries {
    justify-content: start;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes skeletonScreen {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}/*# sourceMappingURL=main.css.map */